* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #c7d7db;

}

main {
    background-color: #ebd3bd;
    width: 500px;
    margin: auto;
    padding: 10px;

}   