* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

body {
    background-color: #EBD3BD;
    font-size: 16px;

}

img.lado {
    float: right;
}

main {
    background-color: #c7d7db;
    width: 650px;
    margin: auto;
    padding: 10px;
}